
{% extends 'base.html' %}

{% block title %}
	Tweet List | {{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<h1>{{ request.user }}</h1>
		</div>
		<div class="col-sm-9 col-xs-12">
			{% if not request.GET.q %}
				<div class=''>
					{% include "tweets/form.html" with form=create_form action_url=create_url btn='Tweet' form_id='form_id'%}
				</div>
				<hr>
			{% endif %}
			<div id="list">
				
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
<script>
function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}


$(document).ready(function(){
	var query = getParameterByName('q');
	var tweetList = [];

	fetchData();

	var charRemain = 140;
	var charTotal = 140;

	$('#form_id').append(`
			<span id="text-color">${charRemain}</span>
		`);
	$('input[type=text], textarea').keyup(function(){
		console.log(this.value.length);
		charRemain = charTotal - this.value.length;
		var textcolor = $('#text-color');
		textcolor.text(charRemain);

		if(charRemain > 0){
			textcolor.removeClass("text-danger text-secondary");
		}else if(charRemain == 0){
			textcolor.addClass("text-secondary");
			textcolor.removeClass("text-danger");
		}else{
			textcolor.addClass("text-danger");
			textcolor.RemoveClass("text-secondary");
		}
	})

	

	$('#form_id').submit(function(e){
		e.preventDefault();

		var this_ = $(this);
		var formData = this_.serialize();
		$.ajax({
			url: "/api/tweet/create/",
			data: formData,
			method: "POST",
			success: function(data){
				this_.find("input[type=text], textarea").val("");
				attachTweet(data, true);		 
			},
			error: function(data){
			  console.log("error")
			  console.log(data.statusText);
			}
		})
	})

	function fetchData(){
		$.ajax({
			url: "/api/tweet/",
			data: {
			  "q": query
			},
			method: "GET",
			success: function(data){
			  // console.log(data)
			  tweetList = data
			  parseTweets()
			 
			},
			error: function(data){
			  console.log("error")
			  console.log(data.statusText)
			}
		})
	}

	function attachTweet(value, prepend){
		var content = value.content;
		var time = value.date_display;
		var user = value.user.username;
		var myhtml = `<div class="media">
							<div class="media-body">
								${content}<br/>
								via ${ user } | ${ time } |<a href='#'>View</a>
							</div>
						</div>
						<hr/>`;
		if(prepend){
			$('#list').prepend(myhtml);
		}else {
			$('#list').append(myhtml);
		}
	}

	function parseTweets(){
		if(tweetList == 0){
			$("#list").text("No tweets currently found");
		}else{
			$.each(tweetList, function(key, value){
				attachTweet(value, false);
			})
		}
	}
});
</script>

{% endblock %}


