
{% extends 'base.html' %}

{% block title %}
	Tweet List | {{ block.super }}
{% endblock %}

{% block content %}
	<div class="row container">
		<div class="col-sm-3 col-xs-12">
			<h1>{{ request.user }}</h1>
		</div>
		<div class="col-sm-9 col-xs-12">
			{% if not request.GET.q %}
				<div class=''>
					{% include "tweets/form.html" with form=create_form action_url=create_url btn='Tweet' form_id='form_id'%}
				</div>
				<hr>
			{% endif %}
			<div id="list" data-url="/api/tweet/">
				
			</div>
			<button id="read-more" type="button" class="btn btn-primary mx-auto">Read More</button>
		</div>
	</div>
{% endblock %}

{% block script %}
<script>

$(document).ready(function(){
	loadTweet("list");
});
</script>

{% endblock %}


