{% extends "base.html" %}


{% block content %}
<div class='row'>
    <div class='col-sm-3 col-xs-12'>
        <h1>{{ object.username }} </h1>
        <p>Follower: {{object.followed.all.count}}</p>
        <p><a class="btn btn-link" href="{% url 'profile:follow' username=object.username %}">
                {% if object in request.user.profile.following.all %}
                 Unfollow
                {% else %}
                 Follow
                {% endif %}
            </a>
        </p>
    </div>
    <div class='col-sm-9 col-xs-12'>
         <h1>Tweets</h1>
         {% for tweet in object.tweet_set.all %}
         {{ tweet }}<br/>
         {% endfor %}

         <h1>Following</h1>
         {% for user in object.profile.get_following.all %}
         <a href="/{{ user.username }}">{{ user.username }}</a></br>
         {% empty %}
         <h4>Not following by any users</h4>
		 {% endfor %}

		 <h1>Followed</h1>
         {% for profile in object.followed.all %}
         <a href="/{{ profile.user.username }}">{{ profile.user.username }}</a></br>
         {% empty %}
         <h4>Not following by any users</h4>
		 {% endfor %}



    </div>

</div>

{% endblock content %}